*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  width:100vw;
  font-family: cascadia;
  background-color: #d4d0c6;
  overflow: scroll;
}
.nav-bar, .hero-container{
  max-width: 700px;
}
.nav-wrapper{
  width:100%;
  padding:5px 0;
  background-color: #ffff;
  box-shadow: 0 0 1px ;
  overflow: hidden;
  margin-bottom: 1rem;
  
}

nav.navbar{
  margin: 2px auto;
  flex: 1;
  padding: 0 3%;
  max-width: 1500px;
  color: #665544;
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo{
  font-style: normal;
  transform: Capitaalize;
}

.nav-items{
  height: 100%;
  width: 40%;
  max-width: 200px;
}

ul{
  display:flex;
  gap: 2%;
  justify-content: flex-end;
  list-style: none;
  align-items: : center;
  
}

li{
  
  display: flex;
  align-items: center;
}

li a{
   padding: 5px 3px;
   text-decoration: none;
  font-size: 8px;
  font-weight: bold;
  font-stretch: expanded;
  color: #665544;
  border-radius: 2px;
  
 }
 
li:nth-of-type(1) a{
  color: #fff;
  background-color: rgba(102, 85, 68, 0.8);
  background-
}

div.hero-container{
  width: 93%;
  max-width: 1400px;
  height: 40vh;
  min-height: 250px;
  padding-top:.5rem ;
  margin:  auto auto;
  background-color: #e7e3d8;
  box-shadow: 0 0 10px -2px #665544;
}

div.hero{
  padding: 10px 20px ;
  flex: 1, 0, 98%;
  flex-flow: row-reverse nowrap;
  height: 200px;
  width: 90%;
  max-width: 1400px;
  
  margin: 15px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 2px solid #d4d0c6;
  
}

.hero-text-container{
  margin: 0;
  flex: 1.5 0 100px;
 /* border: 1px solid red;*/
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  align-items: stretch;
  /*border: 1px solid red;*/
  
}

.hero-text p{
  padding: .3rem .3rem ;
}

h1.hero-heading{
  color: #665544;
  font-size: 15px;
  padding:0 .3rem ;
}

.hero p.about{
  font-size:8px;
  color:rgba(102, 85, 68, 0.5) ;
  font-weight: bold;
}

.hero p.role{
  padding:  .2rem .2rem;
  color: rgba(102, 85, 68, 1);
  font-size: 10px;
  font-weight: bold;
  background-color:rgba(102, 85, 68, 0.4);
  opacity: 1;
}

.contact-me{
  padding: .3rem .3rem;
  display: flex;
  justify-content: start;
  gap: 5px;
    a{
      position: relativ;
    font-size: 8px;
    border: 1px solid rgba(102, 85, 68, 0.4);
    padding: .1rem;
    flex-basis: 50px;
    text-decoration: none;
    color: rgba(102, 85, 68, 1);
    text-align: center;
  }
}
.contact-me a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(102, 85, 68, 1);
  z-index: -1;
}
.hero-image{
  height:70% ;
  max-height: 200px;
  min-width: 100px;
  overflow: hidden;
  border-radius: 30% 0;
  border: 1px solid #665544;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-self: center;
}

.mail{
  text-decoration: none;
  color: rgba(102, 85, 68, 1);
}
@media(max-width:720px) {
  nav.navbar{
    
  }
  .logo{
    font-size: 10px;
    text-transform: capitalize;
    
  } 
  li{
    margin: 0;
  }
  
  li a{
    font-size: 3px;
    
  }
  .hero-text *{
    width: 120px !important;
    
    text-wrap: wrap;
    
  }
  p
}
 
